
    table {
        table-layout: fixed; 
    }

    table th,
    table td {
        white-space: nowrap; 
        overflow: hidden; 
        text-overflow: ellipsis; 
        vertical-align: middle; 
    }
    .badge:hover, .badge:target {
        .editSO {
            display: block !important;
        }
    }